<!-- Page to view a single Point of interests full details-->
{{> mainmenu}}
<section class="ui raised segment">
    <section class="ui 15 column middle aligned grid raised segment">
        <div class="row">
            <div class="column two wide"><i class="teal huge map marker alternate icon"></i></div>
            <div class="column three wide"><h2>POI Name: </h2></div>
            <div class="column ten wide"><h3>{{poi.name}}</h3></div>
        </div>
    </section>
    <section class="ui 15 column middle aligned grid raised segment">
        <div class="row">
            <div class="column two wide"><i class="teal huge hiking icon"></i></div>
            <div class="column three wide"><h2>Category</h2></div>
            <div class="column ten wide"><h3>{{poi.category.name}}</h3></div>
        </div>
    </section>
    <section class="ui 15 column middle aligned grid raised segment">
        <div class="row">
            <div class="column two wide"><i class="teal huge globe icon"></i></div>
            <div class="column three wide"><h2>Location</h2></div>
            <div class="column five wide"><h2>Latitude: {{poi.latitude}}</h2></div>
            <div class="column five wide"><h3>Longitude: {{poi.longitude}}</h3></div>
        </div>
    </section>
    <section class="ui 15 column middle aligned grid raised segment">
        <div class="row">
            <div class="column two wide"><i class="teal huge info icon"></i></div>
            <div class="column three wide"><h2>Description</h2></div>
            <div class="column ten wide"><h4>{{poi.description}}</h4></div>
        </div>
    </section>
<!--    If there are no images don't show the images section-->
    {{#if poi.image}}
    <section class="ui 15 column middle aligned grid raised segment">
        <div class="row">
            <div class="column two wide"><i class="teal huge image icon"></i></div>
            <div class="column three wide"><h2>Images</h2></div>
        </div>
        <div class="row">
            {{#each poi.image}}
                {{> image-card}}
            {{/each}}
        </div>
    </section>
    {{/if}}

    {{> add_images}}
    <section class="ui grid">
        <div class="right floated column">
            <a href="/delete-poi/{{poi._id}}" class="ui right floated red button">Delete POI</a>
            <a href="/update-poi/{{poi._id}}" class="ui right floated teal button">Update POI</a>
        </div>
    </section>
</section>
